/* .hero {
    background-color: var(--color-black);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  } */
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: black;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: white;
    background-color: black;
  }
  
  .hero img {
    margin-top: 20px;
    width: 212px;
    height:200px;
    width:200px;
  }
  